

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  font-size: 24px;
  margin-bottom: 20px;
}

#animation {
  width: 50%;
  height: 50%;
}



 h1 {
      font-size: 3em;
      text-align: center;
    }
    p {
      font-size: 1.5em;
      line-height: 1.5;
    }
    a {
      text-decoration: none;
      color: blue;
    }
    .animated-text {
      animation: text-blink 1s infinite linear;
    }
    @keyframes text-blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .animated-image {
      animation: image-move 2s infinite linear;
    }
    @keyframes image-move {
      0% {
        left: 0;
      }
      100% {
        left: 100%;
      }
    }

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@200;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #69bafd;
    border-radius: 20px;
    transition: 0.5s;
}
.navigation li a:hover,
.navigation li a.active{
    background: #112434;
    color: #fff;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#text{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: #96d0ff;
}


.extra{
    position: relative;
    padding: 100px;
    background: #112434;
}
.extra h2{
    font-size: 3em;
    color: #fff;
    margin-left: 35%;
    margin-bottom: 10px;
}
.extra p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}