@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  /* height: 100vh; */
}

.loading {
  font-size: 24px;
  margin-bottom: 20px;
}

#animation {
  width: 50%;
  height: 50%;
  scroll-behavior: smooth;
}



h1 {
  font-size: 3em;
  text-align: center;
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: blue;
}

.animated-text {
  animation: text-blink 1s infinite linear;
}

@keyframes text-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-image {
  animation: image-move 2s infinite linear;
}

@keyframes image-move {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@200;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
  text-align: center;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: #69bafd;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #69bafd;
  border-radius: 20px;
  transition: 0.5s;
}

.navigation li a:hover,
.navigation li a.active {
  background: #112434;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display:none;
  }

  .navigation li {
    display:none;
  }
}


.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #96d0ff;
}
@media only screen and (max-width: 768px) {
  .parallax img {
    display: none;
  }

  #text {
    font-size: 3em;
    position: center ;
    transform: none;
    margin-left: -350px;
    margin-top: 30px;
  }
}

.extra {
  position: relative;
  padding: 100px;
  background: #112434;
}


.extra h2 {
  font-size: 3em;
  color: #fff;
  margin-left: 35%;
  margin-bottom: 10px;
}

.extra p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}





/* Animated Card */



.card-row {
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  margin: 0 -10px;
}

@media (max-width: 768px) {
  .card-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  scroll-behavior: smooth;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  animation: floatUp 1s ease-in-out;
}

.card {
  transition: color 1s;
  font-size: 24px;
  color: rgb(88 199 250 / 100%);
  font-family: Georgia, serif;
  font-style: italic;
}

.card:hover:before,
.card:hover:after {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.dp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border: 4px solid rgb(88 199 250 / 100%);
  box-shadow: 0 0 5px 2px rgb(88 199 250 / 30%);
}

.card h2 {
  font-size: 20px;
  color: rgb(88 199 250 / 100%);
  font-family: Georgia, serif;
  font-style: italic;
  margin-top: 10px;
  align-items: left;
}

.card p {
  transition: color 1s;
  font-size: 15px;
  color: rgb(115, 209, 252);
  font-family: Georgia, serif;
  font-style: italic;
}

#cont {
  color: #999;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding-top: 200px;
  position: relative;
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip>div>div {
  color: #fff;
  padding: 4px 12px;
  height: 50px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}

p {
  position: absolute;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
}

@keyframes floatUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* ------------------------- Footer Css -------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cot {
  margin: auto;
  box-sizing: border-box;

}

.rw {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  font-family: 'Poppins',
  sans-serif;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 20;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transform: all 0.3s ease;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transform: all 0.5s ease;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
  font-family: 'Poppins',
  sans-serif;
}

/* responsive */
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}



/* Code for points and svg file  */

.container5 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.image-container {
  flex: 0 0 60%;
}

.image {
  width: 60%;
  height: auto;
}

.services {
  flex: 0 0 40%;
  text-align: left;
  color: white;
  padding-top: 60px;
  font-family: "Arial", sans-serif;
}

.services-title {
  display: inline-block;
  position: relative;
  font-size: 2.5em;
  margin-bottom: 20px;
}


.services-title2 {
  display: inline-block;
  position: relative;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.services-subtitle {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 100;
  font-style: italic;
}

.services-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 20px;
  font-size: 1.2em;
  line-height: 1.5;
}

.services-list li {
  margin-bottom: 10px;
  position: relative;
}

.services-list li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('svg/arrow.svg');
  background-size: cover;
}


@media only screen and (max-width: 768px) {
  .services-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    font-style: italic;
    font-size: 1.0em;
    line-height: 1.9;
  }

  .services-title2{
    display: none;
  }


  .services-list li {
    padding-left: 20px;
  }

  .services-list li:before {
    display: none;
  }
  .services-subtitle {
    display: none;
  }

  .image-container img {
    width: 100%;
    max-width: 500px;
  }

  
}


/* Media Query for mobile devices */
@media (max-width: 767px) {
  .container5 {
    flex-direction: column;
  }
  .container8 {
    flex-direction: column;
    text-align: center;
  }

  .image-container,
  .services {
    flex: 1 1 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
  }
}



/* ------------------- CSS for second - web development --------------- */

.container6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.left-text2,
.right-text2 {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.left-text2 h2,
.right-text2 h2 {
  margin-bottom: 9px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  border-radius: 60px;
  background-color: #0072c6;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.button:hover {
  background-color: #87ceeb;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.button span {
  font-size: 1.2em;
}

.button object {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.center-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.center-image img {
  width: 200%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .container6 {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .left-text2,
  .right-text2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .button {
    padding: 10% 30%;
    align-items: center;
  }

  .center-image {
    margin-bottom: 10px;
  }

  .center-image img {
    width: 80%;
    max-width: 200px;
  }
}







/* For android app  */



.container8 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.services-list2 {
  list-style-type: none;
  margin-left: 0;
  padding-left: 80px;
  font-size: 1.2em;
  line-height: 2;
}

.services-list2 li {
  margin-bottom: 10px;
  position: relative;
}

.services-list2 li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('svg/arrow.svg');
  background-size: cover;
}

.services-subtitle2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 100;
  font-style: italic;
  padding-left: 60px;
}



@media (max-width: 767px) {
  .container8 {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: center;
  }

  .services {
    padding-top: 0;
    text-align: center;
  }

  .services-title,
  .services-subtitle2 {
    text-align: center;
  }
}


/* Splash Screen */




.responsive-heading {
  color: #cdcdcd;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.responsive-heading::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 60%;
  height: 5px;
  background-color: #0072c6;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .responsive-heading {
    font-size: 30px;
  }
}





/* -----------------Floating button--------------------------- */




@import url("https://fonts.googleapis.com/css?family=Roboto");

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}





.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 350px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
    -webkit-animation: come-in 0.4s forwards 0.8s;
    animation: come-in 0.4s forwards 0.8s;
}


.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 35px;
}

.floating-container .float-element:nth-child(1) {
  background: #42A5F5;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floating-container .float-element:nth-child(2) {
  background: #4CAF50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}
.floating-container .float-element:nth-child(4) {
  background: #FF5722;
  box-shadow: 0 20px 20px -10px rgba(255, 87, 34, 0.5);
}



.floating-container .float-element .instagram-icon {
  font-size: 30px;
  /* Set the desired background color */
  color: white;
  /* Set the color for the icon */
  border-radius: 50%;
  /* Add border-radius to make the icon circular */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
