@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  /* height: 100vh; */
}

.loading {
  font-size: 24px;
  margin-bottom: 20px;
}

#animation {
  width: 50%;
  height: 50%;
  scroll-behavior: smooth;
}



h1 {
  font-size: 3em;
  text-align: center;
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: blue;
}

.animated-text {
  animation: text-blink 1s infinite linear;
}

@keyframes text-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-image {
  animation: image-move 2s infinite linear;
}

@keyframes image-move {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@200;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
  text-align: center;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: #69bafd;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #69bafd;
  border-radius: 20px;
  transition: 0.5s;
}

.navigation li a:hover,
.navigation li a.active {
  background: #112434;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #96d0ff;
}


.extra {
  position: relative;
  padding: 100px;
  background: #112434;
}

.extra h2 {
  font-size: 3em;
  color: #fff;
  margin-left: 35%;
  margin-bottom: 10px;
}

.extra p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}


/* Row and column */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.video-container video {
  width: 70%;
  height: auto;
  box-shadow: 0 0 10px rgb(126, 180, 255);
  border-radius: 15px;
}

.text-container {
  flex: 1;
}


h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}


/* Animated Card */



.card-row {
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin: 0 -10px;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
}





.card {
  scroll-behavior: smooth;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  
}


.card {
  transition: color 1s;
  font-size: 24px;
  color: rgb(88 199 250 / 100%);
  font-family: Georgia,
  serif;
  font-style: italic;
  
}

.card:hover:before,
.card:hover:after {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), red, yellow, green, blue, purple);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), red, yellow, green, blue, purple, red);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}



.dp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border: 4px solid rgb(88 199 250 / 100%);
  box-shadow: 0 0 5px 2px rgb(88 199 250 / 30%);
}




.card h2 {
  font-size: 20px;
  color: rgb(88 199 250 / 100%);
  font-family: Georgia, serif;
  font-style: italic;
  margin-top: 10px;
  align-items: left;
}


.card p{
  transition: color 1s;
  font-size: 15px;
  color: rgb(115, 209, 252);
  font-family: Georgia,
    serif;
  font-style: italic;

}


/* Lift text code css here */


#cont {
  color: #999;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding-top: 200px;
  position: relative;
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip>div>div {
  color: #fff;
  padding: 4px 12px;
  height: 50px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}

p {
  position: absolute;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
  /* margin-top: 200px; */
}


/* ------------------------- Footer Css -------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cot {
  margin: auto;
  box-sizing: border-box;

}

.rw {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  font-family: 'Poppins',
  sans-serif;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 20;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transform: all 0.3s ease;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transform: all 0.5s ease;
  font-family: 'Poppins',
  sans-serif;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
  font-family: 'Poppins',
  sans-serif;
}

/* responsive */
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
